{# Blog page view #}

{% extends "layout.twig" %}

{% block themeCSS %}../../{{ parent() }}{% endblock %}
{% block awesomeCSS %}../../{{ parent() }}{% endblock %}

{% block contactLink %}"/#web"{% endblock %}

{% block view %}

<!-- Blog Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2>Les articles</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in listPosts %}
                    <div class="col-sm-4 portfolio-item">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ "post/#{post.id}/#{post.slug}" }}" class="btn btn-primary portfolio-link">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <p class="card-text small">{{ post.abstract}}</p>
                                <p class="card-text text-right small">{{ post.dateUpdate|date("d/m/Y")}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block themeJS %}../../{{ parent() }}{% endblock %}
