{# Error page view #}

{% extends "layout.twig" %}

{% block title %}{{ parent() }}Page d'erreur{% endblock %}

{% block themeCSS %}../../{{ parent() }}{% endblock %}
{% block awesomeCSS %}../../{{ parent() }}{% endblock %}

{% block contactLink %}/#web{% endblock %}

{% block view %}

    <div  class="container">
        <div id="error" class="alert alert-warning exception" role="alert">
            <span style="font-weight:bold;">Une erreur s'est produite :</span> {{ error }}
        </div>
    </div>

{% endblock %}

{% block themeJS %}../../{{ parent() }}{% endblock %}
