{# Post page view #}

{% extends "layout.twig" %}

{% block title %}{{ parent() }}Un article{% endblock %}


{% block themeCSS %}../../{{ parent() }}{% endblock %}
{% block awesomeCSS %}../../{{ parent() }}{% endblock %}

{% block contactLink %}"/#web"{% endblock %}

{% block view %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="post">
                            <h1 class="text-center">{{ post.title }}</h1>
                            <hr class="star-primary">
                            <h2 class="text-center"> {{ post.abstract }} </h2>
                            <hr class="star-primary">
                            
                            <p class="text-justify"> {{ post.content|nl2br }}</p>
                            <ul class="list-inline item-details">
                                <li>Auteur :
                                    <strong>{{ post.author }}</strong>
                                </li>
                                <li>Date de dernière mise à jour :
                                    <strong>{{ post.dateUpdate|date("d/m/Y") }}</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div id="comments">
                            <h3> 
                                Commentaires 
                                {% if not user %}
                                    <a href="/login" class="nav-link">
                                        <button type="button" class="btn btn-menu btn-success">
                                            Me connecter pour commenter
                                        </button>
                                    </a>
                                {% endif %}
                            </h3>
                            {% if user %}
                                <div id="comment-form">
                                    <form name="contactForm" id="contactForm"  method="post" action="/">                  
                                        <div class="row control-group">
                                            <div class="form-group col-12 controls">
                                                {{ fieldBuilder(commentForm.fields.content, ['placeholder','required', 'rows'], 'form-control') }}
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            {% endif %}                  
                            {% for comment in comments %}
                                    <p class="comment-author-date"> {{ comment.author }} - {{ comment.dateCreation|date("d/m/Y") }}</p>
                                    <p class="text-justify comment-content">{{ comment.content|nl2br }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="comments-footer" class="row">
                </div>
            </div>
{% endblock %}



{% block themeJS %}../../{{ parent() }}{% endblock %}
